%h3= @category.name
#type= @category.type.name
-# Rendering the bills
%table
	%tr
		- @fields.each do |f|
			%th= f
	- @category.bills.each do |bill|
		%tr
			- @fields.each do |f|
				%td= bill.send(f)
